@import url('fonts.css');

*::before {
    font-family: 'icon-brands';
    font-weight: 400;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.icon-tg::before {
    content: '\f3fe';
}

.icon-vk::before {
    content: '\f189';
}

.icon-pnt::before {
    content: '\f231';
}

.icon-skp::before {
    content: '\f17e';
    color: white;
    font-size: 120%;
}

.icon-star::before {
    font-family: 'icons';
    content: '\f005';
    color: #F2BE22;
    font-weight: 600;
}
.icon-right::before {
    font-family: 'icons';
    content: '\f054';
    color: #FDFDFD;
    font-size: 12px;
}

.icon-cross::before {
    font-family: 'icons';
    content: '\f00d';
    color: #FDFDFD;
}

.dropdown-toggle::after {
    border-top: none;
    border-right: none;
    display: none;
}

.cursor-pointer {
    cursor: url(../img/icon-cursor.png) 4 5, pointer;
    
    padding: 20px 20px;
    background: #000;
}

.hidden {
    display: contents;
}

.site-header {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background: #1A3E3E;
}
.site-header--open-menu {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 3;
}

.site-header__img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.site-header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.site-header__nav{
    position: relative;
}
.navbar-nav__btn {
    margin-left: 20px;
}

.site-btn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    color: #FDFDFD;
    background: #1A3E3E;

    border: 1px solid #1A3E3E;
}

.site-btn:hover {
    border: 1px solid #1A3E3E;
    color: #1A3E3E;
    background: #FDFDFD;
}

.site-header__nav-link {
    color: #FDFDFD;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0;
    margin: 0 12px;
}
.site-header__nav-link:hover {
    color: #F2BE22;
    text-decoration: underline;
}

.site-header__toggler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 2;
}
.site-header__toggler:focus {
    box-shadow: none;
}
.site-header__toggler:not(.collapsed) {
    margin-top: 16px;
}
.site-header__toggler-el {
    background: white;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
    position: absolute;
    right: 2px;
    transition: all 0.2s;
}
.site-header__toggler-el:nth-child(1) {
    top: 6px;
}
.site-header__toggler-el:nth-child(2) {
    top: 12px;
}
.site-header__toggler-el:nth-child(3) {
    top: 18px;
    width: 14px;
}

.navbar-toggler:not(.collapsed) .site-header__toggler-el:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
}
.navbar-toggler:not(.collapsed) .site-header__toggler-el:nth-child(2) {
    transform: rotate(-45deg);
    top: 9px;
}
.navbar-toggler:not(.collapsed) .site-header__toggler-el:nth-child(3) {
    display: none;
}
.navbar-nav-open {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #1A3E3E;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 50px 7%;
    transition: all 0.2s;
}
.navbar--open {
    width: 100vw;
    height: 100vh;
    background: #1A3E3E;
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
    justify-content: space-between;
}
.site-header__headline {
    position: relative;

    color: #FDFDFD;
    font-family: NEXT ART;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 75px */
    letter-spacing: 1px;
    margin-top: auto;
    margin-bottom: 40px;
}

.site-header__form {
    position: relative;
    margin-bottom: 80px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(3px);
    align-items: baseline;

    padding: 40px 42px;
}

.span-word-sm {
    display: none;
}
.br-lg {
    display: none;
}

.site-header__form label {
    color: #FDFDFD;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}

.select-sort-mobile {
	/* for Firefox */
	-moz-appearance: none;
	/* for Chrome */
	-webkit-appearance: none;
}
.select-sort-mobile::-ms-expand {
	/* IE */
	display: none;
}
.icon-down-form::before {
    font-family: 'icons';
    content: '\f078';
    color: #FDFDFD;
    position: absolute;
    right: 16px;
    top: 16px;
}
.icon-up-form::before {
    font-family: 'icons';
    content: '\f077';
    color: #FDFDFD;
    position: absolute;
    right: 16px;
    top: 16px;
}
.icon-play::before {
    font-family: 'icons';
    content: '\f04b';
    font-weight: 600;
    color: #1A3E3E;
    position: absolute;
    top: 176px;
    left: 146px;
    background: rgba(252, 252, 252, 0.6);
    z-index: 1;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding-left: 4px;
}
.icon-play {
    position: relative;
    z-index: 2;
}

.icon-down-form,
.icon-up-form {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.icon-down-form label {
    flex: 100%;
}

.site-header__form input[type='button']:hover {
    background: #1a3d3d;
    color: #fdfdfd;
}
.site-header__form-el,
.site-header__form select,
.site-header__form input[type='button']:active {
    border-radius: 8px;
    border: 1px solid var(--wl-primary-primary-300, #E1E3E4);
    background: transparent;
    padding: 14px 16px;

    color: #FDFDFD;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */

    width: 100%;
}
.site-header__btn {
    border-radius: 8px;
    border: 1px solid var(--wl-primary-primary-300, #1A3E3E);
    padding: 14px 16px;
}

.form__label-text {
    margin-bottom: 0;
    margin-left: 8px;
}

.site-btn--white {
    background: #FFF;
    color: #1A3E3E;
}

.site-header__form-btn {
    position: relative;
    max-width: 213px;
    width: 100%;
    margin-bottom: 50px;
    display: none;
}

.form__option {
    background: #FFF;
    color: #1A3E3E;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border-radius: 50px;
}

.expedition__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 120px;
    margin-top: 100px;
    margin-bottom: 66px;
}
.col {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.videos {
    position: relative;
    min-height: 526px;
}
.videos__item {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 350px;
    max-height: 400px;

    height: 76%;
    width: 71%;

    object-fit: cover;
    overflow: hidden;
    border-radius: 24px;
}
.videos__item-2 {
    top: 126px;
    left: 130px;
}
.expedition__video {
    min-width: 100%;
    min-height: 100%;
}

.subtitle {
    color: #F2BE22;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 83.333% */

    margin-bottom: 8px;
}

.title {
    color: #18121E;
    font-family: Nunito Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%; /* 38.4px */

}

.desc {
    color: #18121E;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin: 40px 0;
}

.expedition__btn {
    align-self: baseline;
}


@media (max-width: 1199.9px) {
    .logo__img {
        width: 100px;
    }
    .site-header__nav-link {
        font-size: 12px;
    }
    .site-btn--large {
        padding: 10px 12px;
        font-size: 12px;
    }

    .site-header__headline {
        font-size: 42px;
    }
    .expedition__grid {
        column-gap: 90px;
    }
    .videos__item-2 {
        left: 90px;
    }
    .icon-play::before {
        left: 132px;
    }
}
@media (max-width: 991.9px) {
    
    .logo__img {
        width: 84px;
    }
    .navbar-nav__btn {
        display: none;
    }
    .nav-item--main {
        display: none;
    }
    .site-header__navbar-nav {
        margin-top: 15px;
    }
    .site-header__nav-item {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }
    .site-header__nav-link {
        font-size: 14px;
    }
    .site-header__headline {
        font-size: 50px;
    }
    .site-header__form {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 24px;
        display: none;
    }
    .site-header__form-btn {
        display: block;
    }
    .expedition__grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }
    .grid-col-1 {
        justify-content: center;
    }
    .grid-col-2 {
        order: -1;
    }
    .videos__item {
        height: 100%;
        width: 100%;
    }
    .videos__item-1 {
        left: 10%;
    }
    .videos__item-2 {
        left: 30%;
    }
    .icon-play::before {
        left: 146px;
    }
    .br-lg {
        display: inline;
    }
}

@media (max-width: 767.9px) {
    .site-header__headline {
        font-size: 37px;
    }
}

@media (max-width: 575.9px) {
    .site-header__headline {
        font-size: 28px;
    }
    .span-word-sm {
        display: inline-block;
    }
    .span-word-md {
        display: none;
    }
    .site-header__form {
        display: none;
        grid-template-columns: repeat(1, 1fr);
    }
    .site-header__form-sm {
        position: fixed;
        bottom: 0;
        left: 2%;
        right: 2%;
        top: 70px;
        bottom: -50px;
        background: rgba(255, 255, 255, 0.3);
    }
    .subtitle {
        font-size: 16px;
    }
    .title {
        font-size: 24px;
    }
    .desc {
        font-size: 16px;
        margin: 30px 0;
    }
    .videos__item {
        top: 0;
        left: 0;
        max-width: none;
    }
    .icon-play::before {
        left: 44%;
    }
}
@media (max-width: 400.9px) {
    .site-header__headline {
        font-size: 22px;
    }
}